body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  overflow: auto;
}

#youtube-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

nav {
  background-color: #9a4747;

  padding: 0px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header {
  text-align: center;
  margin-bottom: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  display: block;
}

nav ul li a:hover {
  background-color: #7b3939;
  /* color: rgb(19, 96, 40); */
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 150px;
  border: 1px solid #ccc;
  z-index: 1000;
}

nav ul li ul li {
  display: block;
  text-align: left;
}

nav ul li ul li a {
  display: block;
  padding: 10px;
  color: #333;
}

nav ul li ul li a:hover {
  background-color: #eee;
  color: rgb(19, 96, 40);
}

nav ul li:hover ul {
  display: block;
}

img {
  border-radius: 50%;
  border: 5px solid rgb(19, 96, 40);
}

section {
  background-color: rgba(115, 164, 116, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-left: 5px solid #ccc;
  margin: 20px 0;
}

form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background-color: rgb(19, 96, 40);
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(143, 31, 31);
}

.contact-section {
  background-color: #9a4747;
  color: white;
  border-radius: 0px;
}

textarea {
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  resize: vertical; /* Cho phép người dùng thay đổi chiều cao nếu muốn */
}
